<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-permission android:name="android.permission.VIBRATE" /> <!-- Add this line -->

<!-- BLUETOOTH PERMISSIONS ===================================================================== -->
    <!-- Request legacy Bluetooth permissions on versions older than API 31 (Android 12). -->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30"
        />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30"
        />
    <!-- Needed to look for Bluetooth devices -->
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        tools:targetApi="s"
        />
    <!-- Needed to use Bluetooth scan results to derive physical location -->
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        />

    <!-- Needed only if communicating with already-paired Bluetooth devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true"
        />

<!-- APPLICATION =============================================================================== -->

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        >
        <activity
            android:name=".PointGraphActivity"
            android:exported="false"
            android:label="RSSI Graph"
            />

        <activity
            android:name=".BleOperationsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".RssiMappingActivity"
            android:exported="false"
            />

        <activity
            android:name="com.matt.guidebeacons.activities.CalibrationActivity"
            android:exported="false"
            android:label="Admin Panel"
            />

        <activity
            android:name="com.matt.guidebeacons.activities.EditBeaconActivity"
            android:exported="false"
            android:label="Edit"
            />

        <activity
            android:name="com.matt.guidebeacons.activities.InputMacAddressActivity"
            android:exported="false"
            android:label="Input MAC Address"
            />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
